<%- include("../includes/adminIncludes/HeaderSecure.ejs") %>

    <%- include("../includes/adminIncludes/breadCrumb.ejs") %>

        <!-- /.Main Page -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">فعالیت </th>
                    <th scope="col">عملیات ها</th>
                </tr>
            </thead>
            <tbody>
                <% if (users.length> 0) {%>
                    <% for(let user of users) {%>
                        <tr>
                            <th scope="row">
                                <%= index++ %>
                            </th>
                            <td>
                                <%= user.fullname %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>
                            <% if (user.isAdmin===false) { %>
                                <td>کاربر معمولی</td>
                                <%}else {%>
                                    <td>مدیر سایت</td>
                                    <%}%>
                                        <td class="text-white">
                                            <a href="/admin/detail-users/<%= user._id%>" type="button"
                                                class="btn btn-warning text-white">اطلاعات</a>
                                            <a href="/admin/delete-users/<%= user._id%>" type="button"
                                                class="btn btn-danger">حذف</a>
                                            <% if (user.isAdmin===false) { %>
                                                <a href="/admin/admin-users/<%= user._id%>" type="button"
                                                    class="btn btn-success">مدیر</a>
                                                <%} else {%>
                                                    <a href="/admin/setUser/<%= user._id%>" type="button"
                                                        class="btn btn-success">کاربر</a>
                                                    <%}%>
                                        </td>
                        </tr>
                        <%}%>
                            <%}else { %>
                                <div class="text-center">
                                    <h3 class="mt-2">
                                        در حال حاضر هیچ کاربری ثبت نام نکرده است
                                    </h3>
                                </div>
                                <% } %>
            </tbody>
        </table>
        <%- include("../includes/paginationAdmin.ejs") %>
        <!-- /.Main Page -->
        </div>
        <!-- /.content-wrapper -->


        <%- include("../includes/adminIncludes/FooterSecure.ejs") %>