<%- include("../includes/adminIncludes/HeaderSecure.ejs") %>


    <%- include("../includes/adminIncludes/breadCrumb.ejs") %>


        <!-- /.Main Page -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">عملیات ها</th>
                </tr>
            </thead>
            <tbody>
                <% if (reservations.length> 0) {%>
                    <% for(let reservation of reservations) {%>
                        <tr>
                            <th scope="row">
                                <%= index++ %>
                            </th>
                            <td>
                                <%= reservation.fullname %>
                            </td>
                            <td>
                                <%= reservation.phone %>
                            </td>

                            <td class="text-white">
                                <a href="/admin/detailreservation/<%= reservation._id%>" type="button"
                                    class="btn btn-warning text-white">اطلاعات</a>
                                <a href="/admin/deletereservation/<%= reservation._id%>" type="button"
                                    class="btn btn-danger">حذف</a>
                                <a href="/admin/confirmation/<%= reservation._id%>" type="button"
                                    class="btn btn-success">تایید</a>
                            </td>
                        </tr>
                        <%}%>
                            <%}else { %>
                                <div class="text-center">
                                    <h3 class="mt-2">
                                        در حال حاضر هیچ رزروی صورت نگرفته است
                                    </h3>
                                </div>
                                <% } %>
            </tbody>
        </table>
        <%- include("../includes/paginationAdmin.ejs") %>

        <!-- /.Main Page -->
        </div>
        <!-- /.content-wrapper -->


        <%- include("../includes/adminIncludes/FooterSecure.ejs") %>