<%- include("../includes/adminIncludes/HeaderSecure.ejs") %>
    <%- include("../includes/adminIncludes/breadCrumb.ejs") %>

        <!-- /.Main Page -->
        <div class="mr-4">
            <label for="">نام و نام خانوادگی</label>
            <p>
                <%= user.fullname %>
            </p>
            <label for="">پست الکترونیک</label>
            <p>
                <%= user.email %>
            </p>
            <label for="">شماره تماس</label>
            <p>
                <%= user.phone %>
            </p>
            <label for="">تاریخ ثبت نام</label>
            <p>
                <%= jalaliMoment(user.createdAt) %>
            </p>
        </div>
        <br>
        <!-- /.Main Page -->
        </div>
        <!-- /.content-wrapper -->
        <%- include("../includes/adminIncludes/FooterSecure.ejs") %>